@import url('../dark/header.css');
@import url('../dark/main.css');
@import url('../dark/main_form.css');
@import url('../dark/footer.css');
@import url('../dark/buttons.css');
@import url('../dark/contact_portal.css');
@import url('../dark/pricing_table.css');
@import url('../dark/payments.css');
@import url('../dark/invoices.css');

body.dark-mode {
	background: #181a1b;
	color: #e0e0e0;
}

body.dark-mode .slide-in {
	animation: slideIn 0.5s ease-out forwards;
}

body.dark-mode .page{
	background: linear-gradient(
		135deg,
		#222222 0%,
		#2798e9 50%,
		#d4a520 100%
	);
}
