body.dark-mode .header {
	color: #fff; /* Change header text color to white in dark mode */
}

body.dark-mode .header.header--scrolled {
	background: rgba(0, 0, 0, 0.7); /* Dark background for header in dark mode */
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.6); /* Darker shadow for depth in dark mode */
}

body.dark-mode .header__title {
	color: #fff;
}

body.dark-mode .header__toggle {
	color: #fff; /* Change toggle button color to white in dark mode */
}

body.dark-mode .header__toggle:hover {
	color: #ffcc22; /* Change toggle button hover color to dark in dark mode */
}

body.dark-mode .header__nav {
	background: rgba(0, 0, 0, 0.9);
}

body.dark-mode .header__nav-link {
	color: #fff;
}

body.dark-mode .header__nav-link:hover {
	color: #ffd700;
	/* Change link color on hover for better interactivity */
	text-shadow: 1px 1px 2px rgba(255, 215, 0, 0.6);
	/* Enhance text shadow on hover */
}
