@import url("../blocks/buttons.css");
@import url("../blocks/header.css");
@import url("../blocks/main.css");
@import url("../blocks/footer.css");
@import url("../blocks/contact_portal.css");
@import url("../blocks/invoices.css");
@import url("../blocks/main_form.css");
@import url("../blocks/payments.css");
@import url("../blocks/pricing_table.css");
@import url("../blocks/slideshow.css");
@import url("../blocks/testimonials.css");
@import url("../blocks/turnstile.css");
