@import url('../dark/header.css');
@import url('../dark/main.css');
@import url('../dark/main_form.css');
@import url('../dark/footer.css');
@import url('../dark/buttons.css');
@import url('../dark/maps.css');
@import url('../dark/contact_portal.css');
@import url('../dark/pricing_table.css');
@import url('../dark/inventory.css');
@import url('../dark/car.css');

body.dark-mode {
	background: #181a1b; /* Sets the overall page background to a deep charcoal for dark mode. */
	color: #e0e0e0; /* Sets the default text color to a light gray for readability. */
}

body.dark-mode .slide-in {
	animation: slideIn 0.5s ease-out forwards; /* Applies slideIn animation for smooth entrance. */
	/* Duration and easing function */
}

body.dark-mode .page{
	background: linear-gradient(
		135deg,
		#222222 0%,
		#2798e9 50%,
		#d4a520 100%
	);
}