body.dark-mode .main__section {
    background: rgba(34, 34, 34, 0.8); /* Semi-transparent dark background for dark mode */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Darker shadow for depth in dark mode */
    color: #f0f0f0; /* Light text color for better readability in dark mode */
}

body.dark-mode .main__section-hidden {
    background: transparent;
    box-shadow: none;
}

body.dark-mode .main__nav-link {
    color: #FFF; /* Lighter link color for dark mode */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Subtle text shadow for better readability in dark mode */
}

body.dark-mode .main__nav-link:hover {
    color: #FFD700; /* Gold color on hover in dark mode */
    text-shadow: 1px 1px 2px rgba(255, 215, 0, 0.6); /* Enhanced text shadow on hover for better readability in dark mode */
}

body.dark-mode .main__intro,
body.dark-mode .main__text {
    color: #e0e0e0; /* Light text color for dark mode */
}

body.dark-mode .main__text-character-count {
    color: #b0b0b0; /* Slightly darker text color for character count in dark mode */
}